@font-face {
  font-family: 'tradle';
  src:  url('../fonts/tradle.eot?9ux8nu');
  src:  url('../fonts/tradle.eot?9ux8nu#iefix') format('embedded-opentype'),
    url('../fonts/tradle.ttf?9ux8nu') format('truetype'),
    url('../fonts/tradle.woff?9ux8nu') format('woff'),
    url('../fonts/tradle.svg?9ux8nu#tradle') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ui-icon-"], [class*=" ui-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tradle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-tradle:before {
  content: "\e610";
}

