html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

fieldset {
    border: 0;
}

input[type=text], input[type=file] {
  border: none;
  font-size: 18px;
  padding-bottom: 10px;
}

textarea:focus, input:focus {
  outline: none;
}

.react-datepicker__input-container input {
  background: transparent;
}

* {
  font-family: Helvetica Neue, STHeiTi, sans-serif;
}


@font-face {
  font-family: 'SVBSans';
  src: url('./SVBSans.woff') format('woff'),
       url('./SVBSans.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVBSlab';
  src: url('./SVBSlab.woff') format('woff'),
       url('./SVBSlab.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'SVBSlab-Bold';
  src: url('./SVBSlab-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
