{
  env: {
    production: {
      //presets: ['react-native']
      plugins: [
        'syntax-async-functions',
        'syntax-class-properties',
        'syntax-trailing-function-commas',
        'transform-class-properties',
        'transform-es2015-function-name',
        'transform-es2015-arrow-functions',
        'transform-es2015-block-scoping',
        'transform-es2015-classes',
        'transform-es2015-computed-properties',
        'check-es2015-constants',
        'transform-es2015-destructuring',
        ['./inline-requires.js', { strict: false, allowTopLevelThis: true }],
        ['module-resolver', {
          // dedupe: true,
          extensions: [".js", "*.jsx"],
          aliasFields: ['browser', 'react-native'],
          alias: {
            // misc
            q: 'bluebird-q',
            scrypt: 'scrypt.js/js.js',
            sha3: 'browserify-sha3',
            // dangerous, we're assuming it's the only place
            'utf-8-validate': 'ws/lib/Validation.fallback.js',
            bufferutil: './non-existent-module.js',
            // 'nkey-bitcoin': './non-existent-module.js',
          }
        }],
        'transform-es2015-parameters',
        'transform-es2015-shorthand-properties',
        'transform-es2015-spread',
        'transform-es2015-template-literals',
        'transform-es2015-literals',
        'transform-flow-strip-types',
        'transform-object-rest-spread',
        'transform-react-display-name',
        'transform-react-jsx',
        ['transform-regenerator', {
          asyncGenerators: true, // true by default
          generators: true, // true by default
          async: true // true by default
        }],
        ['transform-async-to-module-method', {
          module: 'bluebird',
          method: 'coroutine'
        }],
        ['transform-es2015-for-of', { loose: true }],
        // 'lodash',
      ]
    },
    development: {
      plugins: [
        'syntax-async-functions',
        'syntax-class-properties',
        'syntax-trailing-function-commas',
        'transform-class-properties',
        'transform-es2015-function-name',
        'transform-es2015-arrow-functions',
        'transform-es2015-block-scoping',
        'transform-es2015-classes',
        'transform-es2015-computed-properties',
        'check-es2015-constants',
        'transform-es2015-destructuring',
        ['./inline-requires.js', { strict: false, allowTopLevelThis: true }],
        ['module-resolver', {
          // dedupe: true,
          extensions: [".js", "*.jsx"],
          aliasFields: ['browser', 'react-native'],
          alias: {
            // misc
            q: 'bluebird-q',
            scrypt: 'scrypt.js/js.js',
            sha3: 'browserify-sha3',
            // dangerous, we're assuming it's the only place
            'utf-8-validate': 'ws/lib/Validation.fallback.js',
            bufferutil: './non-existent-module.js',
            // 'nkey-bitcoin': './non-existent-module.js',
          }
        }],
        'transform-es2015-parameters',
        'transform-es2015-shorthand-properties',
        'transform-es2015-spread',
        'transform-es2015-template-literals',
        'transform-es2015-literals',
        'transform-flow-strip-types',
        'transform-object-rest-spread',
        'transform-react-display-name',
        'transform-react-jsx',
        ['transform-regenerator', {
          asyncGenerators: true, // true by default
          generators: false, // true by default
          async: true // true by default
        }],
        ['transform-async-to-module-method', {
          module: 'bluebird',
          method: 'coroutine'
        }],
        ['transform-es2015-for-of', { loose: true }],
        // 'lodash',
      ]
    }
  }
}
