{
  env: {
    production: {
    // for JSC feature support on iOS, Android see:
    // https://docs.expo.io/versions/v25.0.0/guides/using-modern-javascript
      plugins: [
        // iOS 10.3+
        'syntax-async-functions',                // don't need
        'syntax-class-properties',
        'syntax-trailing-function-commas',
        'transform-class-properties',
        'transform-es2015-function-name',
        // iOS 10+
        'transform-es2015-arrow-functions',
        'transform-es2015-block-scoping',
        'transform-es2015-classes',
        'transform-es2015-computed-properties',
        'check-es2015-constants',
        // need transform-es2015-destructuring, otherwise get error: "name.definition is not a function"
        'transform-es2015-destructuring',
        ['./inline-requires.js', { strict: false, allowTopLevelThis: true }],
        // iOS 10+
        'transform-es2015-parameters',
        // iOS 9+
        'transform-es2015-shorthand-properties',
        // iOS 9 / 10
        'transform-es2015-spread',
        // iOS 9
        'transform-es2015-template-literals',
        // iOS 9
        'transform-es2015-literals',
        'transform-flow-strip-types',
        // no JSC support
        'transform-object-rest-spread',
        'transform-react-display-name',
        'transform-react-jsx',
        // iOS 10.3+
        ['transform-regenerator', {
          asyncGenerators: true, // true by default
          // iOS 10+
          generators: true, // true by default
          // iOS 10.3+
          async: true // true by default
        }],
        // iOS 10.3+
        ['transform-async-to-module-method', {
          module: 'bluebird',
          method: 'coroutine'
        }],
        // iOS 9+
        ['transform-es2015-for-of', { loose: true }],
        'lodash',
        'inline-package-json',
      ]
    },
    development: {
    // for JSC feature support on iOS, Android see:
    // https://docs.expo.io/versions/v25.0.0/guides/using-modern-javascript
      plugins: [
        // 'syntax-async-functions',                // don't need
        'syntax-class-properties',
        'syntax-trailing-function-commas',
        'transform-class-properties',
        'transform-es2015-function-name',
        'transform-es2015-arrow-functions',
        'transform-es2015-block-scoping',
        'transform-es2015-classes',
        'transform-es2015-computed-properties',
        'check-es2015-constants',
        // need transform-es2015-destructuring, otherwise get error: "name.definition is not a function"
        'transform-es2015-destructuring',
        ['./inline-requires.js', { strict: false, allowTopLevelThis: true }],
        'transform-es2015-parameters',
        'transform-es2015-shorthand-properties',
        'transform-es2015-spread',
        'transform-es2015-template-literals',
        'transform-es2015-literals',
        'transform-flow-strip-types',
        'transform-object-rest-spread',
        'transform-react-display-name',
        'transform-react-jsx',
        ['transform-regenerator', {
          asyncGenerators: true, // true by default
          generators: false, // true by default
          async: true // true by default
        }],
        ['transform-async-to-module-method', {
          module: 'bluebird',
          method: 'coroutine'
        }],
        ['transform-es2015-for-of', { loose: true }],
        'lodash',
        'inline-package-json',
      ]
    }
  }
}
