# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
hack.*
john*.*
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
environment.plist
environment.json
environment_preprocess.h
#iOS/Tradle/*.plist
release/
release-*/
*.sublime*
run-fabric.sh
config/
*.iml
*.keystore
code-push
localIP.json
google-services.json
webpack-stats-*.json
version.json
web/dist
MicroBlink.framework
MicroBlink.bundle
iOS/Frameworks
Pods
*.xcworkspace
fabric.properties
secrets.xml
*/fastlane/.env
*/fastlane/README.md
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*/fastlane/service-account-actor.json
.env
.env.*
secrets/
iOS/GoogleService-Info.plist
environment*.json
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md
android/keystores

aenvironment.json
avivaBankStyle.json
avivaPrivateConf.json
avivaPublicConf.json
common-environment.json
defaultPublicConf.json
iOS/Tradle/Dev.plist
iOS/Tradle/Tradle-Info.plist
img/splash600x800.png
package copy.json
sandboxConf.json
sandboxPublicConf.json
styles/bankStyle-Tradle.json
ubs-environment.json
ubsBankStyle.json
ubsPrivConf.json
ubsPublicConf.json
Additional components/
Store/utils/
version.json
*.dSYM.zip
*.sh1
debug/
*.license
code-push.json
android/src/main/assets/Regula/db.dat
.vscode/.react
